# Arquivos compilados
*.class

# Arquivos de log
*.log

# BlueJ
.bluej

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
*.iws
out/

# NetBeans
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/
.code-workspace

# Pacotes
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# Arquivos do sistema
.DS_Store
Thumbs.db